body {
  background: #282a36;
  color: #f66;
}

a {
  color: #ffa64d;
}

textarea {
background: #252727;
    color: #ffa64d;
}

button {
  background-color: #f66;
  color: #ffffff;
}

button:hover {
  background-color: #b73535;
}

pre {
background: #252727;
    color: #ffa64d;
}

#upload-textarea {
  border-color: #cccccc;
}

#result {
  background: #282a36;
  color: #f66;
}

#form-upload-error {
  background-color: #9c2222;
  border-color: #cc3f3f;
}
